/target/test-classes/com/info_board/JwtTest.class
/src/test/java/com/info_board/JwtTest.java
*.class
/src/test/java/com/info_board/AwsUploadTest.java
/target/test-classes/com/info_board/AwsUploadTest.class
/avatar/user.png
